<div class="container login-container">
    
   <div class="col-md-6">
      <div id="logbox">
        <form>
            <h1>Add Attenddee</h1>
             <input name="user[name]" type="text" placeholder="What is your name?" autofocus="autofocus" required="required" class="input pass" ng-model="user.name"/>
            <input name="user[name]" type="text" placeholder="What's your email address?" autofocus="autofocus" required="required" class="input pass" ng-model="user.email"/>
            <input name="user[password]" type="password" placeholder="Choose a password" ng-model="user.password" required="required" class="input pass"/>
            <input name="user[password2]" type="password" placeholder="Confirm password" ng-model="user.confirmPassword" required="required" class="input pass"/>
            <input type="submit" value="Join event!" class="inputButton" ng-click="signup()"/>
            <div class="text-center">
                Already attending? <a href="/login">Update your details</a>
            </div>
      </form>
      </div>
    </div>
</div>
